<div class="mt-5 flex flex-col gap-4">
  <!-- Tiêu đề -->
  <h1 class="text-3xl font-bold text-center text-blue-900">Forgot password</h1>
  <p class="text-center text-gray-500 mt-1">Vui lòng nhập địa chỉ email đã đăng ký vào ô bên dưới</p>
  <p class="text-center text-gray-500 mt-1">để nhận link khôi phục mật khẩu</p>
</div>

<!-- Form -->
<div class="mt-5 flex flex-col gap-4">
  <!-- Tên đăng nhập -->
  <div class="flex flex-col gap-2">
    <div class="p-inputgroup">
      <span class="mr-2">
        <i class="pi pi-envelope"></i>
      </span>
      <label class="font-semibold text-gray-700 text-sm">Email</label>
    </div>
    <input pInputText type="text" placeholder="Nhập địa chỉ email" />
  </div>

  <!-- Nút đăng nhập -->
  <button pButton type="button" label="Gửi" [rounded]="true" style="background-color: #F24A21;"
    class="w-full bg-red-500 border-none text-white text-lg font-semibold">
  </button>

  <div class="flex justify-end text-sm">
    <span>Quay lại</span>
    <a href="#" class="text-blue-600">Đăng nhập</a>
  </div>
</div>
