<div class="w-full h-screen flex p-4">
  <div class="hidden lg:block w-6 relative">
    <div class="absolute top-0 bottom-0 right-0 left-0 flex flex-column justify-content-center">
      <p class="text-6xl font-bold text-center text-white">Pacs Hùng Vương</p>
      <p class="text-center mt-5 text-xl text-white">“Chính sức khỏe mới là sự giàu có thực sự, không phải vàng bạc”</p>
      <p class="text-center mt-3 text-xl text-white">-- Mahathma --</p>
    </div>
    <img src="assets/images/bg-intro.png" alt="" class="bg-cover w-full h-full">
  </div>
  <div class="lg:w-6 flex justify-content-center child-component m-auto">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- .title {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
} -->
